@inject school.Data.ApplicationDbContext _context

@if (events == null)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
}

<MudContainer Class="mt-5" Fixed="true">
    <MudExpansionPanels MultiExpansion="true">
        @foreach (var item in Weeks)
        {
            var str = $"Vecka {item.ToString()}"; 
            <MudExpansionPanel Text="@str">
                <MudSimpleTable Elevation="4" Outlined="true" Hover="true">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Tid</th>
                            <th>Att göra</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ev in GetByWeek(item))
                        {
                        <tr>
                            <td>@ev.Datum.Value.ToShortDateString()</td>
                            <td>@string.Format("{0:00}:{1:00}", ev.Time.Value.Hours, ev.Time.Value.Minutes)</td>
                            <td>@ev.ToDo</td>
                            @if (!ev.IsDone)
                            {
                                <td>Inte klart</td>
                                <td style="text-align: right">
                                    <MudIconButton Color="Color.Success" OnClick="@(e => UpdateStatus(ev, true))" Icon="@Icons.Custom.Uncategorized.AlertSuccess" />
                                </td>
                            }
                            else
                            {
                                <td>Klart</td>
                                <td style="text-align: right">
                                    <MudIconButton  Color="Color.Warning" OnClick="@(e => UpdateStatus(ev, false))" Icon="@Icons.Material.Filled.Redo"/>
                                </td>
                            }
                            <td>
                                <MudIconButton Color="Color.Error" OnClick="@(e => Remove(ev))" Icon="@Icons.Material.Filled.Close" />
                            </td>
                        </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            </MudExpansionPanel>
        }
    </MudExpansionPanels>
</MudContainer>



@code {
    public List<Event> events { get; set; } = new List<Event>();

    public List<int> Weeks { get; set; } = new List<int>();

    // LOAD DATA FROM DATABASE
    protected override async Task OnInitializedAsync()
    {
        events = await _context.Events.OrderBy(x => x.Week).ToListAsync();
        foreach (var item in events)
        {
            if(!Weeks.Contains(item.Week))
                Weeks.Add(item.Week);
        }
    }

    private List<Event> GetByWeek(int week)
    {
        return _context.Events.Where(x => x.Week == week).OrderBy(x => x.Datum).ToList();
    }

    private void UpdateStatus(Event ev, bool b)
    {
        ev.IsDone = b;

        _context.Events.Update(ev);
        _context.SaveChanges();
        StateHasChanged();
    }


    private void Remove(Event ev)
    {
        _context.Events.Remove(ev);
        _context.SaveChanges();
        StateHasChanged();
    }
}
