@inherits LayoutComponentBase

<MudThemeProvider Theme="DarkTheme"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudAppBarSpacer />
        <MudIconButton Link="/Info" Icon="@Icons.Material.Filled.Info" Color="Color.Inherit" Edge="Edge.End" />
        @*<MudIconButton Target="top" Link="https://github.com/ali-shahwali/schoolOrganizer-blazor" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Edge="Edge.End" />*@
        <MudMenu Class="ml-5" Direction="Direction.Right" OffsetY="true">
            <ActivatorContent>
                <MudAvatar Color="Color.Transparent">
                    <MudIcon Icon="@Icons.Material.Filled.MoreVert" />
                </MudAvatar>
            </ActivatorContent>
            <ChildContent>
                <form method="post" action="Identity/Account/LogOut">
                    <button type="submit">
                        <MudMenuItem>
                            Logga ut
                        </MudMenuItem>
                    </button>
                </form>
            </ChildContent>
        </MudMenu>
    </MudAppBar>
    <MudDrawer Width="300px" @bind-Open="_drawerOpen" Elevation="4">
        <MudNavMenu>
            <MudText Color="Color.Primary" Typo="Typo.h6" Class="px-4">
                <code style="font-size: 40px">
                    varren 1.0
                </code>
            </MudText>
            <MudDivider Class="my-2" />
            <span style="font-size: 16px!important">
                <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
                <MudNavLink Href="/IV1303">IV1303</MudNavLink>
                <MudNavGroup Title="Gamla kurser" Expanded="false">
                    <MudNavLink Href="/IK1203">IK1203</MudNavLink>
                    <MudNavLink Href="/ID1019">ID1019</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="Skapa" Expanded="false">
                    <MudNavLink Href="/skapa_tenta">Lägg till tenta</MudNavLink>
                    <MudNavLink Href="/skapa_ovning">Lägg till övning</MudNavLink>
                    <MudNavLink Href="/skapa_kod">Lägg till kod</MudNavLink>
                </MudNavGroup>
            </span>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {

    bool _drawerOpen = true;

    MudTheme DarkTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#27272f",
            Background = "#32333d",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            DrawerIcon = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)"
        },

        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "300px",
            DrawerWidthRight = "300px"
        }
    };

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    // NOT AUTH Redirect to login
    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("Identity/Account/Login");
        }
    }
}

